body {
    background-color: #e7ffed;
}

hr {
    border-style: none;
    border-top: 6px dotted #2B3467;
    width: 5%;
}

img {
    border-radius: 50%;
}

h1 {
    color: #2B3467;
}

h3 {
    color: #EB455F;
    text-align: center;
}

table {
    align-self: center;
    
}

td {
    padding: 10px;
}

h4:hover {
    background-color: peru;
    width: 35%;
}

div {
    max-width: 50%;
    max-width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #f17184;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #EB455F;
}

.contact-form {
    max-width: 60%;
    margin: auto;
    background-color: #bcd8de;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

div.container {
    text-align: center;
}

ul.myList {
    display: inline-block;
    text-align: left;
}
 